main {
    text-align: center;
    margin: 0;
}

video,
img {
    margin-top: 3%;
    margin-bottom: 1%;
    width: 400px;
}

h1 {
    font-size: 300%;
    color: white;
    text-shadow: 2px 2px 2px cornflowerblue;
}

span {
    margin: 1%;
    padding: 2%;

    display: inline-block;
    background-color: azure;
    width: 75%;
    min-width: 400px;

    font-size: 14px;
    text-align: initial;
    white-space: pre-line;
    line-height: 2;

    vertical-align: top;

    border-radius: 28px;
}