.container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    margin:  auto;
    padding: 20px;
}

.checkbox {
    margin-right: 10px;
}

.cartBtn_wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.checkout-button {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    background-color: silver;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    /* 내부 padding 포함하여 너비 계산 */
}

.cart_list {
    width: 100%;
    border-collapse: collapse;
}

/* 테이블 헤더 스타일 */
.cart_list th {
    text-align: center;
    padding: 10px;
    background-color: white;
}

.cart_list td {
    padding: 10px;
    text-align: center;
    background-color: white;
}

/* 제품 사진 스타일 */
.cart_list img {
    max-width: 100px;
    height: auto;
}

.cart_list select {
    width: 50px;
}