 * {
     margin: 0;
     padding: 0;
 }

 /* body {
    background: url(../images/main_backgound.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} */

 .logo {
     width: 400px;
     margin: 20px 0;
 }

 header>div {
     text-align: center;
 }


 .do a {
     font-size: 30px;
 }

 .goods_container {
     max-width: 70vw;
     margin: 20px auto;
     background-color: rgba(230, 230, 230, 0.6);
     /* opacity: 0.4; */
     /* position: relative; */
     display: flex;
     justify-content: center;
     border-radius: 5px;


 }

 .goods_wrap {
     margin-top: 30px;
     margin-bottom: 30px;
     line-height: normal;
     width: 90%;
     text-align: center;
     background-color: #fff;
     opacity: 1;
     padding: 20px 0px;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     border-radius: 5px;
 }

 .goods_1,
 .goods_2,
 .goods_3 {
     display: flex;
     justify-content: space-evenly;
 }


 .goods_img {
     width: 90%;
 }


 /* 호버시 이미지 겹치기 */
 .before_hover {
     position: relative;
     border-radius: 5px;
 }

 .goods_hover {
     position: absolute;
     width: 90%;
     height: 100%;
     top: 0;
     margin-left: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgb(0, 0, 0, 0.5);
     opacity: 0;
     transition: opacity 0.6s;
     font-weight: bold;
     color: lightgray;
     font-size: 16px;
     /* 기본 폰트 크기 설정 */
 }

 @media screen and (max-width: 768px) {

     /* 화면이 작아질 때 */
     .goods_hover {
         font-size: 10px;
         /* 작은 화면에 대한 폰트 크기 조절 */
         margin-left: 0;

     }
 }

 .goods_hover>a>p:nth-of-type(1) {
     align-self: center;
 }



 .goods_hover>a {
     display: grid;
     width: inherit;
     height: inherit;
     text-decoration: none;
 }

 .goods_hover p {
     font-size: auto;
 }

 .goods_hover>a:visited {
     color: lightgray;
 }

 .before_hover:hover .goods_hover {
     opacity: 0.9;
 }


 /* ============ detail page =====================  */
 .detail_container {
     max-width: 1024px;
     box-sizing: border-box;
     padding: 20px;
     margin: 20px auto;
     background-color: rgba(255, 255, 255, 0.5);
     border-radius: 5px;
 }


 /*  {

} */

 .detail_wrap {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 90%;
     box-sizing: border-box;
     padding: 10px;
     margin: 20px auto;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 5px;
 }

 #detail_title {
     margin: 10% 0 0 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .image-container {
     flex: 1;
     margin-right: 20px;

 }

 .details-container {
     flex: 2;
 }

 .image-container .goods_img {
     width: 100%;
     height: auto;
     max-width: 100%;
     opacity: 1;
     border: 1px solid silver;

 }

 .details-container table {
     margin-top: 30px;
     background-color: rgba(255, 255, 255, 1);
     width: 100%;

 }

 .details-container table th {
     background-color: rgba(255, 255, 255, 1);
     padding: 20px;
     border-right: 1px solid silver;
 }

 .details-container table th,
 .details-container table td {
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }

 .product-name,
 .product-price,
 .product-quantity {
     margin: 5px 0;
 }

 .cart-button,
 .continue-shopping-button {
     display: inline-block;
     padding: 10px 20px;
     color: #fff;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     margin-top: 20px;
     margin-right: 10px;
 }

 .button-container {
     position: relative;
     display: flex;
     justify-content: center;
 }

 .continue-shopping-button {
     background-color: lightgray;
 }

 .cart-button {
     background-color: lightblue;
 }

 .continue-shopping-button:hover {
     background-color: rgb(193, 199, 202);
 }

 .cart-button:hover {
     background-color: rgb(84, 178, 209)
 }


 /* 상세설명 CSS */
 .explain_product {
     max-width: 90%;
     margin: 0 auto 5px;
     box-sizing: border-box;
     padding: 20px;
     background-color: rgba(255, 255, 255, 0.8);
     border: 1px solid silver;
     border-radius: 5px;
 }

 .explain_product h2 {
     margin-bottom: 10px;
 }

 .explain_product>img {
     margin-top: 20px;
     width: 100%;
 }