body {
    background: url(../images/main_backgound.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo {
<<<<<<< HEAD
    width: 400px;
    margin-top: 20px;
=======
    width: 30%;
    

>>>>>>> yongdeok
}

header>div {
    text-align: center;
}


.do a {
    font-size: 30px;
}

header nav a {
    font-size: 150%;
    transition-property: font-size;
    transition-duration: .5s;
}

.do a:hover {
    font-size: 250%;
}

.do {
    position: fixed;
    top: 20vh;
    left: 15px;
}