body {
    background: url(../images/main_backgound.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo {
    width: 400px;
}

header>div {
    text-align: center;
}


.do a {
    font-size: 5vh;
}

header nav a {
    font-size: 200%;
    transition-property: font-size;
    transition-duration: .5s;
}

.do a:hover {
    font-size: 300%;
}

.do {
    position: fixed;
    top: 20vh;
    left: 15px;
}