* {
    margin: 0;
    padding: 0;

    user-select: none;
}

body {
    background: url(../images/newbackground.png);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.logo {
    width: 23vw;
    margin: 20px 0;
}

header>div {
    text-align: center;
}


.do a {
    font-size: 30px;
}

header nav a {
    font-size: 150%;
    transition-property: font-size;
    transition-duration: .5s;
}

.do a:hover {
    font-size: 250%;
}

.do {
    position: fixed;
    top: 20vh;
    left: 15px;
}

/* footer======================================= */

footer {
    padding: 5px;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.1);

    position: fixed;
    bottom: 0;

}

.container {
    display: grid;
    height: 50px;

    grid-template: 1fr / 130px 8fr 1fr;

    user-select: none;
}

.container div {
    display: flex;
    align-items: center;

    font-size: 12px;
    /* font-weight: bold; */
    color: gray;
}

.f_logo {
    display: flex;
    justify-content: center;
}

.href svg {
    width: 25px;
    margin: 0 3px;
    fill: gray;


    transition-duration: 1s;
}

.href svg:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}