* {
    margin: 0;
    padding: 0;
    list-style: none;

    user-select: none;
}

h1 {
    text-indent: -9999em;

}

.list>div:nth-of-type(1) {
    margin-top: 5vh;
    

}

body {
    background-color: rgb(0, 0, 0);

}

.video_container {
    position: fixed;
    left: 35vw;
    top: 5vh;
}

.logo img {
    position: absolute;
    /* position: relative; */
    width: 23vw;
    left: 1vw;
    margin-top: -2vw;
    animation: logo 1.2s;
}

@keyframes logo {
    from {
        left: -30vw;
        opacity: 0.1;

    }

    to {
        opacity: 1;
        left: 1vw;
    }


}

.video_container {
    top: 10vh;
}

.main_video {
    position: fixed;
    
    width: 60vw;
    height: 80vh;
}

.list li {
    position: relative; 
    width: 200px;
    left: calc((17.5vw - 200px)/2 + 3vw);
    text-align: center;
}

a:visited {
    color: rgb(255, 255, 255);
}

main {
   
    height: 80vh;
    width: 25vw;
    text-align: center;
    list-style: none;
    position: absolute;
    position: fixed;
    top: 15vh;
    left: 6vw;
    


}

.menu_list>a:hover {
    
    font-size: 2.2vw;
    text-shadow: 0px 10px 10px rgb(212, 12, 12);
    color: rgb(211, 25, 174);
}





.menu_list {
    
    margin-top: 8vh;
    font-size: 1.8vw;
    color: rgb(230, 221, 221);
    transition-property: font-size;
    font-weight: bold;

}

.member {
    position: relative;
    animation: slide 1.6s;
    transition: 0.5s;
}

@keyframes slide {
    from {
        left: -30vw;
        opacity: 0.1;

    }

    to {
        opacity: 1;
        left: 0vw;
    }
}

.ALBUMS {
    position: relative;
    animation: slide 2s;
    transition: 0.5s;

}

.GOODS {
    position: relative;
    animation: slide 2.4s;
    transition: 0.5s;
}

.EVENT {
    position: relative;
    animation: slide 2.8s;
    transition: 0.5s;
}

.list>ul>li>a {

    text-decoration-line: none;
    display: block;

}

.list div:nth-of-type(2) {
    width: 200px;
}

.icon {
    position: absolute;
}

.icon a {
    display: inline;
    position: relative;
    font-size: 2vw;
    color: gray;
    margin: .5vw;
    margin-top: 6vh;
    opacity: .7;
    animation: icon_slide 3.1s;
    bottom: -2vh;
    left: 3.1vw;
}

@keyframes icon_slide {
    from {
        left: -30vw;
        opacity: 0.1;

    }

    to {
        opacity: 0.7;
        left: 3.1vw;
    }
}

h2 {
    font-size: 0.01px;
}

.icon a:nth-of-type(3) {
    font-size: 3vw;
}

.icon a:nth-of-type(3):hover {
    font-size: 3.8vw;
}

.icon a:hover {
    font-size: 2.8vw;
    color: rgb(255, 255, 255);
    opacity: 1;
    transition-duration: 1s;
}




.member,
.ALBUMS,
.GOODS,
.EVENT {
    text-decoration-line: none;
    color: aliceblue;
}








footer {
    padding: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

.container {
    display: grid;
    height: 50px;
    grid-template: 1fr / 130px 8fr 1fr;
}

.container div {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: gray;
}

.f_logo {
    display: flex;
    justify-content: center;
}

.href svg {
    width: 25px;
    margin: 0 3px;
    fill: gray;
    transition-duration: 1s;
}

.href svg:hover {
    transform: scale(1.2);
    transition-duration: 1s;
}