* {
    margin: 0;
    padding: 0;
    list-style: 0;
}

body {
    /* background: url(../images/vi.mp4); */
    background-size: 65%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-color: rgb(0, 0, 0);
}
.container{
        margin: calc((0vh - 1150px)/2) calc((120% - -450px)/2);
    /* position: relative; */
}

.vid{
    width: 1000px;
    height: 500px;

}



/* .logo {
    height: 300px;
    margin-top: -150px;
} */


main {
    width: 30%;
    height: 100%;
    list-style: none;
    text-align: center;
    margin-top: 7%;

}


li {
    margin-top: 70px;
    font-size: 30px;
    color: gainsboro;
    transition-property: font-size;
    transition-duration: .5s;
    font-weight: bold;
}

a {
    text-decoration-line: none;
}

.icon a {
    display: inline-block;
    font-size: 25px;
    transition-property: font-size;
    transition-duration: 1s;
    color: gray;
    margin: 3px;
    margin-top: 9px;
    opacity: .7;
}
/* 아이콘 사이즈 및 컬러 설정 */


.icon a:nth-of-type(3) {
    font-size: 40px;
}
.icon a:nth-of-type(3):hover {
    font-size: 50px;
}
/*로그인 버튼만 따로 싸이즈 크게  */


.icon a:hover {
    font-size: 30px;
    color: rgb(255, 255, 255);
    opacity: 1;
}
/* 아이콘 호버 설정 */

.logo:hover {
    box-shadow: 0px 10px 10px rgb(255, 255, 255);
}
/* 로고 박스 쉐도우 컬러  */

li:hover {
    font-size: 35px;
    text-shadow: 0px 10px 10px white;
    color: rgb(255, 255, 255);
}
/* 메뉴들 허버 크기및컬러 설정  */