
.container {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.product-list {
    background-color: #fff;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-list th,
.product-list td {
    width: 25%;
    text-align: center;
    padding: 10px;
}

.product-list td img {
    filter: opacity(1);
    max-width: 100px;
    height: auto;
}

.total-amount {
    text-align: right;
}

#payment-methods {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#payment-methods label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#payment-methods label img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}


.product-list {
    border-collapse: collapse;
    border-radius: 5px;
    width: 100%;
}

.product {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product td {
    padding: 10px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    opacity: 1;
    /* 투명도 조절 (필요한 만큼 조절) */
}

.product-info {
    opacity: 0.9;

    /* 투명도 조절 (필요한 만큼 조절) */

}



.total-amount {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

thead tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* #checkout-button {
    width: calc(100%);
   
    margin: 0 auto;
} */


#checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

#checkout-button:hover {
    background-color: rgb(84, 178, 209);
}

/* ======배송지 정보 받기 */
.delivery-info {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.delivery-info h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.form-group label {
    flex: 1;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"] {
    flex: 2;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* 입력 요소의 너비를 조정하고 오른쪽에 마진 추가 */
    padding: 8px;
    margin-top: 5px;
    /* 위 아래 여백 추가 */
}

.form-group input[type="text"]:last-child {
    margin-right: 0;
}

.form-group span {
    margin: 0 5px;
}

.delivery-phone {
    flex: 2;
    display: flex;
    align-items: center;

}

.delivery-address {
    flex: 2;
    display: flex;
    align-items: center;

}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    /* 버튼 위쪽 여백 추가 */
}

button[type="submit"]:hover {
    background-color: rgb(84, 178, 209);
}

#findAddressBtn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.address_wrap input[type="text"] {
    width: calc(100% - 200px);
}

.address_wrap button {
    position: relative;
    right: 0;
    top: 35%;
    width: 100px;
}