
*{
    list-style: none;
    
}



nav>ul{
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    /* height: 4vh; */
    width: 10vw;
    padding-left: 1vw;
}

nav>ul>li:hover ul{
       
        animation: ani 1s both;
        /* height: 150px; */
        
}
nav>ul>li>ul{
    position: relative;
    /* left: 10vw; */
    /* bottom: 4.2vh; */
    margin-bottom: 11vh;
    width: 4vw;
}
    

a{
    text-decoration-line: none;
    color: aliceblue;
}
nav>ul>li ul{
    height: 0;
    opacity: 0;
    /* overflow: hidden; */
    /* animation: ani 2s ease-in-out 0s; */
}

@keyframes ani{
    from{
        opacity: 0;
        /* height: 0; */
        transform: translate(0vw); ;
        
    
    }
    to{
        transform: translate(1.5vw); ;
        opacity: 1;
        /* height: 150px; */
    }
}

tr img{
    width: 15vw;
    height: 35vh;
}

video{
    width:100%;
    height: 77vh;
    
}

main{
    margin-top: 2vh;
    width: 90vw;
    height:80vh;
    position: relative;
    background-color: rgb(0, 0, 0, 0.3);
    top:calc((100% - 70vh)/2);
    left:calc((100% - 90vw)/2);
    
}

#text_box3
{
text-align: center;
height: 3vh;
font-weight: bold;
color: white;
background-color:#2b2b2b;
}


.main_table{
display: inline-block;
position: absolute;


}


.main_table{
left:20vw;
}