
tr img{
    width: 18vw;
    height: 45vh;
}

video{
    width:50vw;
    height: 96vh;
    
}

main{
    margin-top: 5%;
    width: 90vw;
    height:100vh;
    position: relative;
    background-color: rgb(255, 255, 255, 0.1);
    top:calc((100% - 70vh)/2);
    left:calc((100% - 90vw)/2);
    
}

.side_table img:hover{
    opacity: 0.7;
    transition-duration: 0.5s;
}

