        .members{display:flex;
                
            /* flex-direction: row; */
            justify-content: center;
                }

        
        main{
            /* text-align: center; */
            display: flex;
            justify-content: center;
            margin-top: 20px;
            position: relative;
            transition-duration: 0.7s;
            z-index: -1;
        }

        #member_profile {
            display: flex;
            justify-content: center;
            width: 50vw;
            transition-duration: 0.7s;
        }

        #member_profile{
            overflow:hidden;
            position: relative;
        }

        
        
        video {
            width: 8vw;
            margin: 1.25vw;
            margin-bottom: 0;
            /* transition-duration: 0.7s; */
        }
        .solo_picture{
            transition: 0.8s;
        }
        .solo_picture:hover {
            transform: scale(1.3);
        }

        