        footer{display:inline;
                margin-left: 5vw;
            /* flex-direction: row; */
            /* justify-content: space-evenly; */
                }

        
        main{
            /* text-align: center; */
            margin-left: 5vw;
        }

        #member_profile {
            width: 90vw;
            transition-duration: 0.7s;
        }
        #member_profile{
            overflow:hidden;
            position: relative;
        }

        

        /* #member_profile:hover{
            transform: scale(1.05);
        } */
        
        video {
            width: 15vw;
            /* display:flex; */
            margin: 1.5vw;
            /* transition-duration: 0.7s; */
        }
        
        /* .solo_picture:hover {
            opacity: 0.7;
            transform: scale(1.1);
        } */


