
        
        *{  
                padding: 0;
        }

        #text_box1,
        #text_box2,
        #text_box3,
        #text_box4,
        #text_box5{
                text-align: center;
                height: 3vh;
                font-weight: bold;
                color: white;
        }
        #text_box1{
                background-color:#6b7bb0;
                } 
        #text_box2{
                background-color:#9b3332;
                } 
        #text_box3{
                background-color:#2b2b2b;
                } 
        #text_box4{
                background-color:#8dd2ef;
                } 
        #text_box5{
                background-color:#35663d;
                } 
        .side_table1,
        .side_table2,
        .side_table3,
        .side_table4,
        .main_table{
                display: inline-block;
                position: absolute;
                
                
        }

        .side_table1{
                left: 0;
                top:0;
        }
        .side_table2{
                right:0;
                top:0;
        }
        .side_table3{
                left:0;
                bottom:0;
        }
        .side_table4{
                right:0;
                bottom:0;
        }
        .main_table{
                left:20vw;
        }