main {
	text-align: center;
}

main div {
	display: inline-block;
	width: 80%;
}

main hr {
	width: 70%;
}

main img {
	width: 20%;

	transition-property: width;
	transition-duration: 1s;
}

main img:hover {
	width: 25%;
}

main h1 {
	font-size: 250%;
	color: white;
	text-shadow: 2px 2px 2px cornflowerblue;
}